<% provide(:title, "Profile Page") %>
<div>
  <h1 class="statHead">Hi <%= current_user.name%>, your online statistics:</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>

      <th><h3>Description:</h3></th>
      <th><h3>Remarks:</h3></th>

    </tr>
  </thead>
  <tbody>
    <tr>

      <!-- <th scope="row"></th> -->
      <td>Total Games Played:</td>
      <td><%=current_user.TotalGames(current_user.id)%></td>

    </tr>
    <tr>

      <!-- <th scope="row"></th> -->
      <td>Total Games Won:</td>
      <td><%=current_user.TotalWin(current_user.id)%></td>

    </tr>
    <tr>
      <!-- <th scope="row"></th> -->
      <td>Total Games Lost:</td>
      <td><%=current_user.AllLost(current_user.id)%></td>

    </tr>

    <tr>
      <!-- <th scope="row"></th> -->
      <td>Total Games Draw:</td>
      <td><%=current_user.AllDraw(current_user.id)%></td>

    </tr>

    <tr>
      <!-- <th scope="row"></th> -->
      <td>Winning Percentage (%):</td>
      <td><%= current_user.WinningPercentage(current_user.id)%></td>

    </tr>

    <tr>
      <!-- <th scope="row"></th> -->
      <td>Player Level:</td>
      <td><%=current_user.PlayerLevel(current_user.id)%></td>

    </tr>


  </tbody>
</table>

<%= link_to "Edit profile", edit_user_registration_path, method:
:get, class: "btn btn-danger" %>





<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">/div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">

    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"> </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"> </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"> </div>
  </div>
</div> -->
