<%= form_for @match do |f| %>

<p>
  <%= f.label :gameboard %><br>
  <%= f.text_field :gameboard %>
</p>
<p>
  <%= f.label :gamestatus %><br>
  <%= f.text_field :gamestatus %>
</p>
<p>
  <%= f.label :currentplayer %><br>
  <%= f.text_field :currentplayer %>
</p>
<p>
  <%= f.label :playerx %><br>
  <%= f.text_field :playerx %>
</p>
<p>
  <%= f.label :playero %><br>
  <%= f.text_field :playero %>
</p>
<p>
  <%= f.label :outcome %><br>
  <%= f.text_field :outcome %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
