<ul class="listlist">
  <h5 class='gameboardfield'><%= @match.id %></h5>
  <h5 class='gameboardfield'><%= @match.gameboard %></h5>
  <h5 class='gameboardfield'><%= @match.gamestatus %></h5>
  <h5 class='gameboardfield'><%= @match.currentplayer %></h5>
</ul>

<p class="gameboardarray"></p>

<%= form_for @match, :html => {:class => 'update-game-board'}, :remote => true do |f| %>
  <p>
    <%= f.label :gameboard %><br>
    <%= f.text_field :gameboard %>
  </p>
  <p>
    <%= f.label :gamestatus %><br>
    <%= f.text_field :gamestatus %>
  </p>
  <p>
    <%= f.label :currentplayer %><br>
    <%= f.text_field :currentplayer %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<button type="button" class="btn btn-danger testtest" name="button">Test</button>

<%= link_to 'Back', matches_path %>


<div class="game-board-container">

<div class="top-btn-container">
  <div class="rotate-btn top-btn" id="rotate-right-0"></div>
  <div class="rotate-btn top-btn" id="rotate-left-1"></div>
</div>

<div class="left-btn-container">
  <div class="rotate-btn left-btn" id="rotate-left-0"></div>
  <div class="rotate-btn left-btn" id="rotate-right-2"></div>
</div>

    <div class="game-board">
      <div class="game-tile" id="game-tile-0">
        <div class="game-square" data-row="0" data-col="0"></div>
        <div class="game-square" data-row="0" data-col="1"></div>
        <div class="game-square" data-row="0" data-col="2"></div>
        <div class="game-square" data-row="1" data-col="0"></div>
        <div class="game-square" data-row="1" data-col="1"></div>
        <div class="game-square" data-row="1" data-col="2"></div>
        <div class="game-square" data-row="2" data-col="0"></div>
        <div class="game-square" data-row="2" data-col="1"></div>
        <div class="game-square" data-row="2" data-col="2"></div>
      </div>
      <div class="game-tile" id="game-tile-1">
        <div class="game-square" data-row="0" data-col="3"></div>
        <div class="game-square" data-row="0" data-col="4"></div>
        <div class="game-square" data-row="0" data-col="5"></div>
        <div class="game-square" data-row="1" data-col="3"></div>
        <div class="game-square" data-row="1" data-col="4"></div>
        <div class="game-square" data-row="1" data-col="5"></div>
        <div class="game-square" data-row="2" data-col="3"></div>
        <div class="game-square" data-row="2" data-col="4"></div>
        <div class="game-square" data-row="2" data-col="5"></div>
      </div>
      <div class="game-tile" id="game-tile-2">
        <div class="game-square" data-row="3" data-col="0"></div>
        <div class="game-square" data-row="3" data-col="1"></div>
        <div class="game-square" data-row="3" data-col="2"></div>
        <div class="game-square" data-row="4" data-col="0"></div>
        <div class="game-square" data-row="4" data-col="1"></div>
        <div class="game-square" data-row="4" data-col="2"></div>
        <div class="game-square" data-row="5" data-col="0"></div>
        <div class="game-square" data-row="5" data-col="1"></div>
        <div class="game-square" data-row="5" data-col="2"></div>
      </div>
      <div class="game-tile" id="game-tile-3">
        <div class="game-square" data-row="3" data-col="3"></div>
        <div class="game-square" data-row="3" data-col="4"></div>
        <div class="game-square" data-row="3" data-col="5"></div>
        <div class="game-square" data-row="4" data-col="3"></div>
        <div class="game-square" data-row="4" data-col="4"></div>
        <div class="game-square" data-row="4" data-col="5"></div>
        <div class="game-square" data-row="5" data-col="3"></div>
        <div class="game-square" data-row="5" data-col="4"></div>
        <div class="game-square" data-row="5" data-col="5"></div>
      </div>
    </div>

    <div class="right-btn-container">
      <div class="rotate-btn right-btn" id="rotate-right-1"></div>
      <div class="rotate-btn right-btn" id="rotate-left-3"></div>
    </div>

    <div class="bottom-btn-container">
      <div class="rotate-btn bottom-btn" id="rotate-right-3"></div>
      <div class="rotate-btn bottom-btn" id="rotate-left-2"></div>
    </div>
</div>

</div>
