<h1>Pentago</h1>

<p class="gameboardarray"></p>

<%= form_for @match, :html => {:class => 'game-board-form'}, :remote => true do |f| %>
  <p>
    <%= f.label :gameboard %><br>
    <%= f.text_field :gameboard %>
  </p>
  <p>
    <%= f.label :currentplayer %><br>
    <%= f.text_field :currentplayer %>
  </p>
  <p>
    <%= f.label :playerx %><br>
    <%= f.text_field :playerx %>
  </p>
  <p>
    <%= f.label :playero %><br>
    <%= f.text_field :playero %>
  </p>
  <p>
    <%= f.label :outcome %><br>
    <%= f.text_field :outcome %>
  </p>
  <p>
    <%= f.label :winner %><br>
    <%= f.text_field :winner %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<button type="button" class="btn btn-danger resetboard" name="button">Reset</button>

<%= link_to 'Back', matches_path %>


<div class="game-board-container" data-game-room-id="<%= @match.id %>">

<div class="top-btn-container">
  <div class="rotate-btn top-btn" id="rotate-right-0"></div>
  <div class="rotate-btn top-btn" id="rotate-left-1"></div>
</div>

<div class="left-btn-container">
  <div class="rotate-btn left-btn" id="rotate-left-0"></div>
  <div class="rotate-btn left-btn" id="rotate-right-2"></div>
</div>

    <div class="game-board">
      <div class="game-tile" id="game-tile-0">
        <div class="game-square" data-row="0" data-col="0"></div>
        <div class="game-square" data-row="0" data-col="1"></div>
        <div class="game-square" data-row="0" data-col="2"></div>
        <div class="game-square" data-row="1" data-col="0"></div>
        <div class="game-square" data-row="1" data-col="1"></div>
        <div class="game-square" data-row="1" data-col="2"></div>
        <div class="game-square" data-row="2" data-col="0"></div>
        <div class="game-square" data-row="2" data-col="1"></div>
        <div class="game-square" data-row="2" data-col="2"></div>
      </div>
      <div class="game-tile" id="game-tile-1">
        <div class="game-square" data-row="0" data-col="3"></div>
        <div class="game-square" data-row="0" data-col="4"></div>
        <div class="game-square" data-row="0" data-col="5"></div>
        <div class="game-square" data-row="1" data-col="3"></div>
        <div class="game-square" data-row="1" data-col="4"></div>
        <div class="game-square" data-row="1" data-col="5"></div>
        <div class="game-square" data-row="2" data-col="3"></div>
        <div class="game-square" data-row="2" data-col="4"></div>
        <div class="game-square" data-row="2" data-col="5"></div>
      </div>
      <div class="game-tile" id="game-tile-2">
        <div class="game-square" data-row="3" data-col="0"></div>
        <div class="game-square" data-row="3" data-col="1"></div>
        <div class="game-square" data-row="3" data-col="2"></div>
        <div class="game-square" data-row="4" data-col="0"></div>
        <div class="game-square" data-row="4" data-col="1"></div>
        <div class="game-square" data-row="4" data-col="2"></div>
        <div class="game-square" data-row="5" data-col="0"></div>
        <div class="game-square" data-row="5" data-col="1"></div>
        <div class="game-square" data-row="5" data-col="2"></div>
      </div>
      <div class="game-tile" id="game-tile-3">
        <div class="game-square" data-row="3" data-col="3"></div>
        <div class="game-square" data-row="3" data-col="4"></div>
        <div class="game-square" data-row="3" data-col="5"></div>
        <div class="game-square" data-row="4" data-col="3"></div>
        <div class="game-square" data-row="4" data-col="4"></div>
        <div class="game-square" data-row="4" data-col="5"></div>
        <div class="game-square" data-row="5" data-col="3"></div>
        <div class="game-square" data-row="5" data-col="4"></div>
        <div class="game-square" data-row="5" data-col="5"></div>
      </div>
    </div>

    <div class="right-btn-container">
      <div class="rotate-btn right-btn" id="rotate-right-1"></div>
      <div class="rotate-btn right-btn" id="rotate-left-3"></div>
    </div>

    <div class="bottom-btn-container">
      <div class="rotate-btn bottom-btn" id="rotate-right-3"></div>
      <div class="rotate-btn bottom-btn" id="rotate-left-2"></div>
    </div>
</div>

</div>
