<%= link_to 'Create Room', new_match_path %><br>

<h2>Available Matches</h2>
<% if @availablematches %>
  <% @availablematches.each do |match| %>
  <div class="col-md-3">
    <ul>
      <li><%= match.id %></li>
      <li>playerX: <%= match.playerx_id %></li>
      <li>playerO: <%= match.playero_id %></li>
      <li>Move Index: <%= match.moveindex %></li>
      <li>Outcome: <%= match.outcome %></li>
      <li>Winner: <%= match.winner %></li>

      <%= link_to 'Destroy', match_path(match),
      method: :delete, data: { confirm: 'Are you sure?' } %>
    </ul>
    <%= link_to 'Enter Room', match_path(match) %><br>
    <%= link_to("Challenge!", challenge_match_path(match), :method => :patch) %>
  </div>
  <% end %>
<% end %>

<h2 class="col-md-12">Live Matches</h2>
<% if @livematches %>
  <% @livematches.each do |match| %>
  <div class="col-md-3">
    <ul>
      <li><%= match.id %></li>
      <li>playerX: <%= match.playerx_id %></li>
      <li>playerO: <%= match.playero_id %></li>
      <li>Move Index: <%= match.moveindex %></li>
      <li>Outcome: <%= match.outcome %></li>
      <li>Winner: <%= match.winner %></li>

      <%= link_to 'Destroy', match_path(match),
      method: :delete, data: { confirm: 'Are you sure?' } %>
    </ul>
    <%= link_to 'Enter Room', match_path(match) %><br>
    <%= link_to("Challenge!", challenge_match_path(match), :method => :patch) %>
  </div>
  <% end %>
<% end %>
