<h1>Index</h1>

<% @matches.each do |match| %>
<div class="col-md-3">
  <ul>
    <li><%= match.id %></li>
    <li>playerX: <%= match.playerx_id %></li>
    <li>playerO: <%= match.playero_id %></li>
    <li>Outcome: <%= match.outcome %></li>
    <li>Winner: <%= match.winner %></li>

    <%= link_to 'Show', match_path(match) %>
    <%= link_to 'Destroy', match_path(match),
    method: :delete, data: { confirm: 'Are you sure?' } %>
  </ul>
  <%= link_to 'Enter Room (edit_path)', edit_match_path(match) %><br>
  <%= link_to("Challenge! (challenge_path)", challenge_match_path(match), :method => :patch) %>

</div>
<% end %>
