<!-- <%= render 'hidden_create_form' %> -->

<div class = "well well-sm availableMatch"><h2>Available Matches</h2><%= render 'hidden_create_form' %></div>

<div class="row matchPage">
  <div class="match-container">
    <% if @availablematches %>
    <% @availablematches.each do |match| %>

      <div class="newMatch">
        <div class="single-match-container">
            <p class="nameMatch"><%= match.playerx.name  %></p>

            <p class="challengeMatch"><%= button_to("Challenge!", challenge_match_path(match), :method => :patch, class: "btn btn-danger btn-sm" ) %></p>
          <!-- <%= link_to("Challenge!", challenge_match_path(match), :method => :patch) %> -->
        </div>
      </div>
    <% end %>
    <% end %>

  </div>
</div>



<!-- <h2 class="col-md-12">Live Matches</h2> -->
<div class = "well well-sm availableMatch"><h2>Live Matches</h2></div>
<!-- <div class = "well well-lg availableMatch"><h2>Live Match</h2></div> -->


<div class="row matchPage">
  <div class="match-container">
  <% if @livematches %>
    <% @livematches.each do |match| %>
      <div class="newMatch">
        <div class="single-match-container">
              <p><%= match.playerx.name  %></p>
              <p><%= match.playero.name  %></p>
              <p>
                <div class="btn btn-sm btn-warning">
                  <%= link_to 'Watch Game', match_path(match), :class => "nameWatch" %>
                </div>
              </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
