<h1>Show</h1>

  <ul>
    <li><%= @match.id %></li>
    <li><%= @match.gameboard %></li>
    <li><%= @match.currentplayer %></li>
    <li><%= @match.playerx_id %></li>
    <li><%= @match.playero_id %></li>
    <li><%= @match.outcome %></li>
    <li><%= @match.winner %></li>
    <li>Your ID: <%= @user %></li>
  </ul>

<%= link_to 'Enter Room (edit_path)', edit_match_path(@match) %><br>
<%= link_to("Challenge! (challenge_path)", challenge_match_path, :method => :patch) %>
