<div class="row">

  <div class="totalTop">
<<<<<<< HEAD

  </div>

  <div class="col-md-2">

    <div class="messageTextTop">

    </div>

    <h3 class='outcome-message'></h3>
    <br>
    <br>
    <h3>White:
      <span class="player-x-name">
        <%= @match.playerx.name %>
      </span>
    </h3>
    <h3>timer:
      <span class="timebank-X"></span>
    </h3>
  <br>
  <br>
    <h3>Black:
      <span class="player-o-name">
        <% if @match.playero %>
          <%= @match.playero.name %>
        <% end %>
      </span>
    </h3>
    <h3>timer:
      <span class="timebank-O"></span>
    </h3>

    <!-- <%= render 'game_timer' %> -->

  </div>


  <div class="col-md-6">

      <!-- <h1>White:
        <%= @match.playerx.name %>
      <h1>White:
        <span class="player-x-name">
          <%= @match.playerx.name %>
        </span>
      </h1>
      <h1>Black:
        <span class="player-o-name">
          <% if @match.playero %>
            <%= @match.playero.name %>
          <% end %>
        </span>
      </h1> -->

      <%= render 'hidden_gameboard_form' %>
      <%= render 'game_board' %>
      <!-- <%= render 'game_timer' %> -->

  </div>

  <div class="col-md-4">
    <div class="messageTop">

    </div>
    <div class="message-wr">
      <div id="messages" class="messages" data-chat-room-id="<%= @chat_room.id %>">
        <div id="messages-table" class="messages-table">
          <%= render @chat_room.messages %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= form_for @message, url: '#' do |f| %>
        <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
        <!-- <%= f.label :body %> -->
        <%= f.text_area :body, class: 'form-control' %>
        <small class="text-muted">From 2 to 1000 characters</small>
        <!-- <%= f.submit "Post", class: 'btn btn-primary btn-lg' %> -->
      <% end %>
    </div>
    <div class="messageBottom">

    </div>
  </div>
</div>
