<div class="game-room-container">

    <div class="game-room row">

        <div class="col-md-8">

            <div class="outcome-message-container jumbotron">
                <h3 class='outcome-message'></h3>
            </div>

            <%= render 'hidden_gameboard_form' %>
            <%= render 'game_board' %>

            <div class="player-dashboard row">

              <div class="col-md-6">
                <div class="player-div player-x-dashboard">

                  <p>White:
                    <%= @match.playerx.name %>
                  </p>
                  <p>Timer:
                    <span class="timebank-X timebank-X-<%= @match.id %>"></span>
                  </p>

                </div>
              </div>


                  <div class="col-md-6">
                    <div class="player-div player-o-dashboard">

                      <p>Black:
                        <% if @match.playero %>
                        <%= @match.playero.name %>
                        <% else %>
                        Waiting for opponent...
                        <% end %>
                      </p>
                      <p>Timer:
                        <span class="timebank-O timebank-O-<%= @match.id %>"></span>
                      </p>
                    </div>

                  </div>

                </div>

            </div>


        <div class="col-md-4">

            <div class="message-wr">
                <div id="messages" class="messages" data-chat-room-id="<%= @chat_room.id %>">
                    <%= render @chat_room.messages %>
                </div>
            </div>

            <div class="form-group">
                <%= form_for @message, url: '#' do |f| %>
                <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
                <%= f.text_area :body, class: 'form-control' %>
                <% end %>
            </div>

        </div>

    </div>
</div>
