<h1>Show</h1>

  <ul>
    <li><%= @match.id %></li>
    <li><%= @match.gameboard %></li>
    <li><%= @match.currentplayer %></li>
    <li><%= @match.playerx_id %></li>
    <li><%= @match.playero_id %></li>
    <li><%= @match.outcome %></li>
    <li><%= @match.winner %></li>
  </ul>

<%= link_to 'Edit', edit_match_path(@match) %>
